<div class="md-select input-field">
    <i v-if="slotIcon" class="material-icons prefix">
        <slot name="icon-name"></slot>
    </i>

    <div class="select-wrapper">

        <span class="caret">▼</span>
        <input @click="open" v-click-away="close" readonly="readonly" :value="valueContent"
               type="text" class="select-dropdown">

        <md-dropdown-list :active="active" class="select-dropdown">
            <slot></slot>
        </md-dropdown-list>

        <slot name="select">
            <select v-el:field
                    v-model="value"
                    :placeholder="placeholder" :id="id"
                    :type="type" class="field">
                <option v-for="opt in options" :value="opt.value" v-boolean-attribute:disabled="disabled">{{opt.content}}</option>
            </select>
        </slot>
    </div>
    <label v-if="labelSlot" :for="id" :class="labelClasses">
        <slot name="label"></slot>
    </label>
</div>