.collapsible-transition {
  overflow: hidden;
  height: auto;
  max-height: 1000px; // tricky expand as max height
  transition: max-height 0.65s ease-in-out;
}

.collapsible-enter, .collapsible-leave {
  max-height: 0;
  height: 0;
}

.collapsible-leave {
  display: none !important;
}
