<div :class="{'navbar-fixed': fixed}"
     :style="fixed ? {position: 'absolute', top: 0}: {}">
    <nav>
        <div class="nav-wrapper" :class="bgColor">
            <slot name="logo">
                <a v-if="title"
                   href="javascript:void(0)" class="brand-logo" :class="logoClasses">
                    {{title}}
                </a>
                <a v-if="hamburger" href="javascript:void(0)" class="button-collapse"
                   @click="openSideMenu">
                    <icon>menu</icon>
                </a>
            </slot>

            <slot name="content">
                <ul :class="listClasses">
                    <slot></slot>
                </ul>
                <ul v-if="sideMenu" transition="side-nav" :style="computedStyle" class="side-nav">
                    <slot></slot>
                </ul>
            </slot>
        </div>
    </nav>

    <div @click="closeSideMenu">
        <sidenav-overlay v-if="sideMenu"></sidenav-overlay>
    </div>
</div>
