<div class="input-field">
    <i v-if="hasSlot('icon-name')" class="material-icons prefix">
        <slot name="icon-name"></slot>
    </i>
    <input v-if="disabled"
           v-model="value"
           :placeholder="placeholder" :id="id"
           :type="type"
           :lazy="lazy" :number="number" :debounce="debounce"
           disabled="disabled"/>
    <input v-else
           v-model="value"
           :placeholder="placeholder" :id="id"
           :type="type"
           :lazy="lazy" :number="number" :debounce="debounce"
           @focus="activateField"
           @blur="deactivateField"/>
    <label v-if="hasSlot()" :for="id" :class="labelClasses">
        <slot></slot>
    </label>
</div>